<div class="container">
  <div class="row">
    <div class="col-md-12">
      <h3>Help
        <span> 
          <button type="button" class="btn btn-primary pull-right" ng-click="done()">Back</button>
        </span>
      </h3>
      <br>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <div class="list-group">
        <a ng-repeat="command in commands" class="list-group-item">
          <h4 class="list-group-item-heading">{{command.name}}</h4>
          <p class="list-group-item-text">{{command.description}}</p>
          <h5>Options</h5>
          <dl ng-repeat="opt in command.opts">
            <dt>{{opt.name}}</dt>
            <dd>{{opt.description}}</dd>
          </dl>
        </a>
      </div>
    </div>
  </div>
</div>
