<div class="alert alert-danger" ng-show="error!=undefined">{{error}}</div>
<div class="alert alert-info" ng-show="info!=undefined">{{info}}</div>

<div class="container">
  <div class="row">
    <div class="col-md-12">
      <div class="btn-group" role="group">
        <button type="button" class="btn btn-default active" ng-click="mode=Modes.CommandLine" ng-class="{ 'active' : mode == Modes.CommandLine }">Command Line</button>
        <button type="button" class="btn btn-default" ng-click="mode=Modes.SavedPipe" ng-class="{ 'active' : mode == Modes.SavedPipe }">Saved Pipe</button>
      </div>
      <button type="button" ng-show="mode == Modes.CommandLine" class="btn btn-success pull-right" ng-click="savePipe()">Save Pipe</button>
    </div>
  </div>

  <div class="row">
    <br>
  </div>

  <div class="row">
    <div class="col-md-12">
      <!-- Pipe View-->
      <div ng-show="mode == Modes.SavedPipe">
        <div class="input-group">
          <input type="text" class="form-control" ng-keydown="keyDownCommandLine($event)" ng-model="pipe" placeholder="Enter the name of the pipe" ng-disabled="processingPipe" />
          <span class="input-group-btn">
          <button class="btn btn-primary" type="button" ng-click="submit()" ng-disabled="processingPipe">Run</button>
        </span>
        </div>
        <div class="panel panel-default overlay" ng-show="pipe.length > 0 && visibleSuggestions == true">
          <div class="panel-body">
            <table class="table table-hover">
              <tbody>
                <tr ng-repeat="s in pipes | filter:pipe" ng-click="pipeSelected(s)">
                  <td style="border-top: none;"><a>{{s.name}}</a>
                  </td>
                  <td style="border-top: none;">{{s.description}}</td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>

      <!-- Command Line  View -->
      <div ng-show="mode == Modes.CommandLine">
        <div class="input-group">
          <input type="text" class="form-control" ng-keydown="keyDownCommandLine($event)" ng-model="commands" placeholder="Enter commands" ng-disabled="processingPipe" />
          <span class="input-group-btn">
          <button class="btn btn-primary" type="button" ng-click="submit()" ng-disabled="processingPipe">Run</button>
        </span>
        </div>

        <div class="panel panel-default overlay" ng-show="commands.length > 0 && visibleSuggestions == true">
          <div class="panel-body">
            <table class="table">
              <tr ng-repeat="s in suggestions | filter:commands">
                <td style="border-top: none;"><a>{{s.name}}</a>
                </td>
                <td style="border-top: none;">{{s.desc}}</td>
                <td style="border-top: none;">{{s.example}}</td>
              </tr>
            </table>
          </div>
        </div>

      </div>

    </div>
    <!-- /input-group -->
  </div>
  <!-- /.col-lg-6 -->
</div>
<div class="row">
  <br>
</div>
<div class="row">
  <div class="panel panel-default">
    <ul class="nav nav-pills nav-justified" role="tablist">
      <li role="presentation" ng-class="{active: selectedTab=='input'}" ng-click="selectedTab='input'">
        <a>Input</a>
      </li>
      <li role="presentation" ng-class="{active: selectedTab=='output'}" ng-click="selectedTab='output'">
        <a>Output</a>
      </li>
    </ul>
    <div class="panel-body">
      <div class="row">
        <div class="col-md-12" ng-show="selectedTab=='input'">
          <div class="panel panel-default">
            <div class="panel-heading clearfix">
              <div class="btn-group pull-right" role="group">
                <button type="button" class="btn btn-default" ng-click="clearInput()">Clear</button>
              </div>
              <h5>{{input.length | bytes}}</h5>
            </div>
            <textarea class="form-control myTextArea" rows="10" ng-model="input" placeholder="Enter input text here"></textarea>
          </div>
        </div>
        <div class="col-md-12" ng-show="selectedTab=='output'">

          <div class="panel panel-default">
            <div class="panel-heading clearfix">
              <div class="btn-group pull-right" role="group">
                <button type="button" class="btn btn-default" ng-click="outputFormat=OutputFormats.Raw" ng-class="{ 'active' : outputFormat == OutputFormats.Raw }" ng-disabled="processingPipe">Raw</button>
                <button type="button" class="btn btn-default" ng-click="outputFormat=OutputFormats.Json" ng-class="{ 'active' : outputFormat == OutputFormats.Json }" ng-disabled="processingPipe">Json</button>
                <button type="button" class="btn btn-default" ng-click="outputFormat=OutputFormats.Table" ng-class="{ 'active' : outputFormat == OutputFormats.Table }" ng-disabled="processingPipe">Table</button>
              </div>
              <h5>{{output.length | bytes}} {{executionTime | time }}</h5>
            </div>
            <!-- TODO rewrite to use app enums instead of int's-->
            <div ng-switch on="outputFormat">
              <!-- Processing pipe view-->
              <div ng-switch-when="0" class="jumbotron text-center">
                <p>Processing data, please wait</p>
              </div>
              <!-- Raw output -->
              <div ng-switch-when="1">
                <textarea class="form-control myTextArea" rows="10" readonly>{{output}}</textarea>
              </div>
              <!-- Json output -->
              <div ng-switch-when="2">
                <json-formatter ng-show="isJsonOutput() == true" json="output" open="1"></json-formatter>
                <div class="jumbotron text-center" ng-if="isJsonOutput() == false">
                  <p>The output is not a valid json</p>
                </div>
              </div>
              <div ng-switch-when="3">

                <table class="table table-condensed table-hover" ng-if="outputFormat==OutputFormats.Table">
                
                  <tbody>
                    <tr ng-repeat-start="item in output" ng-init="item.expanded=false" ng-click="item.expanded=!item.expanded" ng-class="{ 'active' : item.expanded == true }">
                      <td ng-repeat="(key, value) in item | filter:key!='expanded'"> {{ value | limitTo : 50 }} </td>
                    </tr>
                    <tr ng-repeat-end="" ng-if="item.expanded">
                    <!-- TODO Set dynamic columns here-->
                      <td colspan="7">
                        <dl class="dl-horizontal">
                          <div ng-repeat="(key, value) in item">
                            <dt>{{key}}</dt>
                            <dd>{{value}}</dd>
                          </div>
                        </dl>
                      </td>
                    </tr>
                  </tbody>
                </table>

              </div>

              <div ng-switch-default>
                Default view should not happen!
              </div>
            </div>
          </div>

        </div>
      </div>
    </div>
  </div>
</div>
