<div class="alert alert-danger" ng-show="error!=undefined">{{error}}</div>
<div class="alert alert-info" ng-show="info!=undefined">{{info}}</div>

<div class="container">
  <div class="row">
    <div class="col-lg-12">
      <div class="input-group">
        <input type="text" class="form-control" ng-model="pipe" placeholder="Enter commands">
        <span class="input-group-btn">
          <button class="btn btn-primary" type="button" ng-click="submit()">Run</button>
        </span>
      </div>
      <!-- /input-group -->
    </div>
    <!-- /.col-lg-6 -->
  </div>
  <div class="row">
    <br>
  </div>
  <div class="row">
    <div class="panel panel-default">
      <div class="panel-body">
        {{content}}
      </div>
    </div>
  </div>
</div>
